<a href="https://colab.research.google.com/github/mucahitozkaya/data/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
train = pd.read_csv("https://drive.google.com/uc?id=1zn_LJkIylZ5LX0YkZ_13v5l7LKSL_zqh")
submission_sample = pd.read_csv("https://drive.google.com/uc?id=1Ck7DCmb_fvYTFIBT7JfGkZEEHM7l-TvQ")

In [26]:
train_data = train.copy()

In [20]:
train_data

,merchant_id,month_id,merchant_source_name,settlement_period,working_type,mcc_id,merchant_segment,net_payment_count
0,merchant_43992,202307,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,15106
1,merchant_43992,202301,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,16918
2,merchant_43992,202305,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,13452
3,merchant_43992,202308,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,16787
4,merchant_43992,202302,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,12428
...,...,...,...,...,...,...,...,...
291137,merchant_67083,202309,Merchant Source - 1,Settlement Period - 1,Working Type - 6,mcc_169,Segment - 4,4
291138,merchant_4263,202309,Merchant Source - 2,Settlement Period - 1,Working Type - 6,mcc_73,Segment - 4,4
291139,merchant_11346,202309,Merchant Source - 1,Settlement Period - 1,Working Type - 6,mcc_169,Segment - 4,3
291140,merchant_21397,202309,Merchant Source - 1,Settlement Period - 1,Working Type - 6,mcc_168,Segment - 4,3
291141,merchant_66895,202309,Merchant Source - 1,Settlement Period - 1,Working Type - 2,mcc_73,Segment - 4,3

In [27]:

# Örnek train_data DataFrame'i
# train_data = pd.DataFrame({
#     'month_id': [1, 1, 2, 2, 3, 3],
#     'merchant_id': ['A', 'B', 'A', 'B', 'A', 'B'],
#     'net_payment_count': [10, 15, 12, 18, 8, 22]
# })

# Pivot işlemi
pivot_table = train_data.pivot_table(values='net_payment_count', index='merchant_id', columns='month_id', aggfunc='sum')

# Oluşan DataFrame'i göster
print(pivot_table)

month_id        202001  202002  202003  202004  202005  202006  202007  \
merchant_id
merchant_1         NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_10        NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_10000     NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_10001     NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_10002     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...                ...     ...     ...     ...     ...     ...     ...
merchant_9984      NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_9985      NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_9986      NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_9991      NaN     NaN     NaN     NaN     NaN     NaN     NaN
merchant_9993      NaN     NaN     NaN     NaN     NaN     NaN     NaN

month_id        202008  202009  202010  ...  202212  202301  202302  202303  \
merchant_id                             ...
merchant_1         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
merchant_10        NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
merchant_10000     NaN     NaN     NaN  ...    10.0     6.0     4.0     4.0
merchant_10001     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
merchant_10002     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
...                ...     ...     ...  ...     ...     ...     ...     ...
merchant_9984      NaN     NaN     NaN  ...     6.0     5.0     3.0     5.0
merchant_9985      NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
merchant_9986      NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
merchant_9991      NaN     NaN     NaN  ...    23.0    22.0     9.0    16.0
merchant_9993      NaN     NaN     NaN  ...     3.0     3.0     3.0     NaN

month_id        202304  202305  202306  202307  202308  202309
merchant_id
merchant_1         NaN     NaN     NaN     NaN     NaN     NaN
merchant_10        NaN     NaN     NaN     NaN     NaN     NaN
merchant_10000     4.0     6.0     4.0     NaN     3.0     4.0
merchant_10001     NaN     NaN     NaN     NaN     NaN     NaN
merchant_10002     NaN     NaN     NaN     NaN     NaN     NaN
...                ...     ...     ...     ...     ...     ...
merchant_9984      3.0     3.0     3.0     4.0     5.0     5.0
merchant_9985      NaN     NaN     NaN     NaN     NaN     NaN
merchant_9986      NaN     NaN     NaN     NaN     NaN     NaN
merchant_9991      8.0     7.0    10.0    15.0     9.0     4.0
merchant_9993      NaN     NaN     4.0     NaN     NaN     NaN

[26060 rows x 45 columns]

In [28]:
pivot_table.to_csv('pivot.csv', index=True)

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291142 entries, 0 to 291141
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   merchant_id           291142 non-null  object
 1   month_id              291142 non-null  int64
 2   merchant_source_name  291142 non-null  object
 3   settlement_period     291142 non-null  object
 4   working_type          291142 non-null  object
 5   mcc_id                291142 non-null  object
 6   merchant_segment      291142 non-null  object
 7   net_payment_count     291142 non-null  int64
dtypes: int64(2), object(6)
memory usage: 17.8+ MB

In [ ]:
for column in train_data.columns:
    value_counts = train_data[column].value_counts()
    print(f"Value Counts for {column}:\n{value_counts}\n")

In [14]:
train_data['month_id'] = pd.to_datetime(train_data['month_id'], format='%Y%m')